.searchModal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.notFoundPanel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-gray);
  border-radius: 0px;
  /* width: 200px; */
  overflow: hidden;
}
