/* CenterContainer.css */
.center-container {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    padding: 20px;
    background-color: #f4f4f4;
}

.center-container.wide {
    margin-left: 200px;
    /* Adjust based on sidebar open state */
}