.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  transition: all 0.5s;
  z-index: 1030;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: var(--color-header-bg);
  padding-left: 20px;
  height: 35px;
}
.header .toggle-sidebar-btn {
  outline: none;
  border: none;
  background-color: var(--color-header-bg);
  cursor: pointer;
}
.toggle-sidebar-btn img {
  height: 16px;
}
