.sidebar {
  position: fixed;
  top: 35px;
  left: 0;
  bottom: 0;
  width: 130px;
  z-index: 996;
  padding-top: 15px;
  overflow: clip;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: var(--sidebar-bg-color);

  transition: all 0.3s;
  border-radius: 0px 10px 10px 0px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
}

.sidebar li {
  cursor: pointer;
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.sidebar li:hover {
  background-color: #686098;
  color: #d1d5db;
}

.sidebar li:focus {
  background-color: #686098;
  color: #d1d5db;
}

.sidebar .nav-items {
  margin-left: 15px;
  display: inline-flex;
  padding: 10px 0px;
}

.sidebar .text {
  visibility: visible;
  color: white;
  font-weight: 500;
  font-size: 12px;
  width: 1rem;
}

.sidebar .icon-image {
  width: 1rem;
  margin-right: 15px;
}
/* Responsive adjustments for smaller screens */

/* When web width reduce, hide sidebar off-screen */
@media (max-width: 1199px) {
  .sidebar {
    left: -130px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

/* Partial sidebar */
@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 60px;
  }
  .toggle-sidebar .sidebar {
    /* left: -90px; */
    width: 55px;
  }

  /*  */
  .toggle-sidebar .sidebar .text {
    visibility: hidden;
  }
}

@media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 130px;
  }
}
