.pageNav {
  padding: 0 35px;
  border-bottom: 1px solid black;
}

.pageNav a.router-link-active,
.pageNav a:hover {
  cursor: pointer;
  color: #ff5722;
  border-bottom: 2px solid #ff5722;
}

.pageNav a.router-link-active {
  font-weight: 600;
}

.pageNav a {
  padding: 14px 16px;
  margin: 0px 5px;
  font-size: 0.75rem;
  line-height: 1;
  text-decoration: none;
  color: #ff5722;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
