.pageNav {
  padding: 0 35px;
  border-bottom: 1px solid black;
}

.pageNav a.router-link-active,
.pageNav a:hover {
  cursor: pointer;
  color: var(--color-red);
  border-bottom: 2px solid var(--color-red);
}

.pageNav a.router-link-active {
  font: var(--font-nav-active);
}

.pageNav a {
  padding: 14px 16px;
  margin: 0px 5px;
  font: var(--font-nav);
  line-height: 1;
  text-decoration: none;
  color: var(--color-red);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
