* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  /* font-family: "Helvetica Neue", Arial, sans-serif; */
  font-family: "Open Sans", sans-serif;
}
:root {
  scroll-behavior: smooth;
  --primary: #4154f1;
  --second: #717ff5;
  --bgcolor: #f6f9ff;
  --sidebar-bg-color: #40407a;
  --header-bg-color: #706fd3;
}
/*  */
/* Create two unequal columns that floats next to each other */
.container {
  padding: 10px;
}
.row {
  display: flex;
}
.col-100 {
  width: 100%;
}
.col-75 {
  width: 75%;
}

.col-25 {
  width: 25%;
}
/* Fake image */
.fakeimg {
  background-color: #aaa;
  padding: 20px;
  width: 100%;
}
/* Add a card effect for articles */
.card {
  margin-top: 20px;
  background-color: white;
}
/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
  content: "";
}
/* Footer */
.footer {
  margin-top: 20px;
  background: #ddd;
  padding: 20px;
  text-align: center;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .col-75,
  .col-25 {
    padding: 0;
    width: 100%;
  }
}
