:root {
  scroll-behavior: smooth;
  --color-sidebar-bg: #40407a;
  --color-header-bg: #706fd3;

  /* Color Scheme Variables */
  --color-primary: #0056b3;
  --color-secondary: #e9ecef;
  --color-accent: #ffc107;
  --color-background: #ffffff;
  --color-foreground: #212529;
  --color-border: #dee2e6;

  --color-success: #28a745;
  --color-success-light: #cff6dd;

  --color-error: #ff5722;
  --color-error-light: #fdecea;

  --color-warning: #ffc107;

  --color-red: #ff5722;
  --color-gray: #dee2e6;
  --color-blue: #4184f3;

  /* Typography Variables */
  /* --font-primary: "Segoe UI", Arial, sans-serif; */
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Georgia", serif;

  /* sidebar */
  --font-sidebar: 500 0.75rem var(--font-primary);

  /* notice */
  --font-notice: 500 0.875rem var(--font-primary);

  /* stats */
  --font-stats: 500 0.75rem var(--font-primary);
  --font-stats-s: 700 1.125rem var(--font-primary);

  /* top nav */
  --font-nav: 500 0.75rem var(--font-primary);
  --font-nav-active: 600 0.75rem var(--font-primary);

  /* vertival funnel */
  --font-chart-funnel: 500 0.75rem var(--font-primary);
  --font-chart-funnel-s: 500 0.875rem var(--font-primary);

  /* Tables */
  --font-table-th: 500 0.875rem var(--font-primary);
  --font-table-td: 500 0.875rem var(--font-primary);
  --font-button-s: 500 0.875rem var(--font-primary);
  --font-pagination: 500 0.875rem var(--font-primary);

  /* Border and Radius Variables */
  --border-bottom-grey: 2px solid var(--color-gray);
}
/* Further styling can be added as needed */
